<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SpectatorSport Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application" %>

    <%= spectator_sport_script_tags %>
  </head>

  <body>
    <%= yield %>

  <br><br><br>
    <hr>
  <p>Replay it on the <%= link_to "Spectator Sport Dashboard", spectator_sport_dashboard_path %></p>
  </body>
</html>
