<main class="container mt-3">
  <h1> Overview </h1>
  Visited pages:
  <ul>
    <% @session_window.analysis.visited_pages.each do |page| %>
      <li><%= page %></li>
    <% end %>
  </ul>
  <p>
    Tags: <br>
    <%= @session_window.analysis.tags %>
  </p>

  <p>
    Custom events:<br>
    <%= @session_window.analysis.custom_events.join(", ") %>
  </p>

  <h1> Events </h1>
  <% @session_window.events.each do |event| %>
    <p style="margin-bottom: 1rem;">
      <strong> <%= event.explanation.title %> </strong>(#<%= event.id %>)<br>

      <% if event.explanation.details.present? %>
        <em> <%= event.explanation.details.join(", ") %> </em><br>
      <% end %>

      <% if event.explanation.custom_event.present? %>
        <em> custom event: <%= event.explanation.custom_event %> </em><br>
      <% end %>
      <em> at <%= event.created_at.to_fs(:datetime) %> </em>

      <details open>
        <summary> Complete data </summary>
        <%= event.event_data %>
      </details>
    </p>
  <% end %>
</div>
