<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <%= tag.div id: "player",
        data: {
        id: "player",
        controller: "player",
        player_events_value: @events.map(&:event_data).to_json,
      } do %>
        <div data-player-target="player"></div>

        <div class="mt-3 input-group" data-controller="clipboard">
          <input type="text" class="form-control form-control-sm" readonly style="max-width: 8rem" data-player-target="linkUrl" data-clipboard-target="source" placeholder="—">
          <button class="btn btn-sm btn-outline-secondary" data-clipboard-target="button" data-action="click->clipboard#copy">
            Copy link
          </button>
        </div>

        <% if @events.size >= SpectatorSport::Event::PAGE_LIMIT %>
          <%= render "more_events_frame", events: @events %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% keyed_labels = @labels.select { |l| l.key.present? }.group_by(&:key) %>
  <% tag_values = @tags.map(&:tag) %>
  <% keyless_labels = @labels.select { |l| l.key.nil? }.map(&:value) %>
  <% if keyed_labels.any? || tag_values.any? || keyless_labels.any? %>
    <div class="card mt-3">
      <div class="card-header">Labels</div>
      <table class="table table-sm mb-0">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% keyed_labels.each do |key, labels| %>
            <tr>
              <td><%= link_to key, label_key_path(key) %></td>
              <td>
                <% labels.each do |label| %>
                  <%= link_to label.value, label_path(label.key, label.value) %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if tag_values.any? || keyless_labels.any? %>
            <tr>
              <td>Tags</td>
              <td>
                <% tag_values.each do |tv| %>
                  <%= link_to tv, tag_path(tv) %>
                <% end %>
                <% keyless_labels.each do |lv| %>
                  <%= link_to lv, label_tag_path(lv) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class="d-flex justify-content-center pt-2">
    <%= link_to("see technical details", details_session_window_path(@session_window)) %>
  </div>
</div>
