<!DOCTYPE html>
<html>
  <head>
    <title>Spectator sport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Do not use asset tag helpers to avoid paths being overriden by config.asset_host %>
    <%= tag.link rel: "stylesheet", href: frontend_static_path(:bootstrap, format: :css, locale: nil), nonce: content_security_policy_nonce %>
    <%= tag.link rel: "stylesheet", href: frontend_static_path(:"rrweb-player", format: :css, locale: nil), nonce: content_security_policy_nonce %>
    <%= tag.link rel: "stylesheet", href: frontend_static_path(:style, format: :css, locale: nil), nonce: content_security_policy_nonce %>
    <%= tag.script "", src: frontend_static_path(:bootstrap, format: :js, locale: nil), nonce: content_security_policy_nonce %>
    <%= tag.script "", src: frontend_static_path(:es_module_shims, format: :js, locale: nil), async: true, nonce: content_security_policy_nonce %>
    <% importmaps = SpectatorSport::Dashboard::FrontendsController.js_modules.keys.index_with { |module_name| frontend_module_path(module_name, format: :js, locale: nil) } %>
    <%= tag.script({ imports: importmaps }.to_json.html_safe, type: "importmap", nonce: content_security_policy_nonce) %>
    <%= tag.script "", type: "module", nonce: content_security_policy_nonce do %> import "application"; <% end %>
  </head>
  <body>
  <div class="d-flex flex-column min-vh-100">
    <%= render "spectator_sport/shared/navbar" %>
    <%= yield %>
  </div>
  </body>
</html>
